# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
env/

# ==============================
# Environment Variables
# ==============================
.env
*.env

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Uploads
# ==============================
uploads/

# ==============================
# Generated Reports
# ==============================
reports/

# ==============================
# AI Models
# ==============================
*.pt
*.pth

# ==============================
# React
# ==============================
node_modules/
dist/
build/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db