# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# Uploads
uploads/

# Reports
reports/

# AI Models
*.pt
*.pth

# React
node_modules/
dist/
build/

# OS Files
.DS_Store
Thumbs.db